html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
}

h2,h3 {
  padding-bottom: .3em;
  font-size: 1.5em;
  line-height: 1.334;
  border-bottom: 1px solid #eee;
}
